aiohttp
aiosignal
async-timeout
attrs
azure-core
azure-storage-blob
beautifulsoup4
blinker
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
dataclasses-json
exceptiongroup
faiss-cpu
filelock
filetype
Flask
Flask-Cors
frozenlist
greenlet
h11
idna
isodate
itsdangerous
Jinja2
joblib
langchain
libmagic
nltk
numpy
openai
openapi-schema-pydantic
pydantic
PyPDF2
PySocks
python-dotenv
python-magic
requests
unstructured
urllib3
gunicorn

