aiohttp
aiosignal
async-timeout
attrs
azure-core
azure-storage-blob
beautifulsoup4
blinker
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
dataclasses-json
exceptiongroup
faiss-cpu
filelock
filetype
Flask
Flask-Cors
frozenlist
gpt4all
greenlet
h11
idna
isodate
itsdangerous
Jinja2
joblib
langchain
langsmith
libmagic
lxml
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
outcome
packaging
pycparser
pydantic
PyPDF2
PySocks
python-dotenv
python-magic
python-magic-bin
PyYAML
regex
requests
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sympy
tabulate
tenacity
tiktoken
tqdm
trio
trio-websocket
typing-inspect
typing_extensions
unstructured==0.9.0
urllib3==2.0.4
Werkzeug==2.3.6
wsproto==1.2.0
yarl==1.9.2
